.container{
    border: 2px solid rgb(255, 255, 255);
    width: 100%;
    height: 30rpm;
    display: flex;
    justify-content: space-between;
    background-color: silver;
    
    }
 .logo{
    margin :5px;
    
 }
 .container .right{
    margin: 5px ;
 }
button{
    background-color: blue;
    color: white;
    border-radius: 5px;
    height: 25px;
    cursor: pointer;
}
button:hover{
    border-color: aliceblue;
    color: black;
    

}
.fa-solid.fa-cart-shopping{
    font-size: 25px;
    color: rgb(2, 2, 2);

    
}
.carousel{
    border:2px solid rgb(29, 28, 28);
    margin-top: 10px;
    height:250px;
    width: 100%;
    position: relative;
}
.carousel img{
    height: 250PX;
    width: 100%;

}
.arrow{
    cursor: pointer;
    position: absolute;
    top: 40%;
    color: black;
    background-color: rgb(207, 207, 207);
    padding: 8px 20px;
    border-radius: 50%;
    font-size: 25px;
    font-weight: bold

}
.next{
    right: 10px;
}
.prev{
    left:10px
}
.carousel-item{
    display: none;
}
.product{
    border: 2px solid black;
  width: 100%;
  /* height: 350px; */
  margin-top: 10px;
  background-color: rgb(244, 245, 245);
}
/* img{
    width: 15rpm;
    height: 150px;
} */
.catogery{
    border: 0px solid white;
    display: flex;
    justify-content: space-between;

}
h1{
    text-align: center;
    margin-left: 15px;
}
.btn{
border-radius: 0 solid white ;
margin: 7px;
height:30px ;
background-color: rgb(137, 128, 187);

}
.product-cart{
   display: flex;
   /* justify-content: space-between; */
   flex-wrap: wrap;
   /* height: auto; */
    
}
.prod-catgr{
    text-align: center;
    cursor: pointer;
    padding: 1rem 1rem 0 1rem;
    margin: 1rem;
    width: 150px;
}
/* .prod-catgr:hover{
    transform: scale(1.05); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2)
} */
.prod-catgr img{
    width: 95%;
    height: 150px;
    margin:0 auto;

}
.product-image{
    margin-left:10px;
    cursor: pointer;
    

}
.product-image:hover{
    transform: scale(1.05); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2)
}
h3:hover{
    transform: scale(1.05); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2)  
    
}
footer{
    border: 2px solid black;
    margin-top: 10px;
    width: 100%;
    height: 300px;
    background-color: rgb(6, 99, 240);

}
.footer-first-section{
    border: 2px solid rgb(7, 7, 7);
    display: flex;
    justify-content: space-between;
}
.social{
   margin: 10px ;
   padding-top: 5px ;
   align-items: center;
}
.fa-brands.fa-facebook{
    margin: 5px ;
    font-size: 20px;
    color: #f7f7f7;
    cursor: pointer;
}

.fa-brands.fa-facebook:hover{
    transform: scale(1.50); 
    box-shadow: 0 0 10px rgba(11, 8, 8, 0.2)  

}


.fa-brands.fa-instagram{
    margin: 5px;
    font-size: 20px;
    color: #f7f7f7;
    cursor: pointer;
}

.fa-brands.fa-instagram:hover{
    transform: scale(1.50); 
    box-shadow: 0 0 10px rgba(11, 8, 8, 0.2) 

}
.fa-solid.fa-x{
    margin: 5px;
    font-size: 20px;
    color: #f7f7f7;
    cursor: pointer;  
}

.fa-solid.fa-x:hover{
    transform: scale(1.50); 
    box-shadow: 0 0 10px rgba(11, 8, 8, 0.2) 

}
.fa-brands.fa-linkedin{
    margin: 5px;
    font-size: 20px;
    color: #f7f7f7; 
    cursor: pointer;
}
.fa-brands.fa-linkedin:hover{
    transform: scale(1.50); 
    box-shadow: 0 0 10px rgba(11, 8, 8, 0.2) 

}

.footer-second-section{
    display: flex;
    justify-content: space-between;
}




